<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - W.C.  @DateTime.Now.Year.ToString()</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/Favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/Favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/Favicon/favicon-16x16.png">
    <link rel="manifest" href="~/images/Favicon/site.webmanifest">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark rounded-pill box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" style="font-size:40px" asp-controller="Home" asp-action="Index">W.C.🌚</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1 text-center">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Landing">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Art" asp-action="Index">Art</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Contact" asp-action="Index">eCommerce</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Minigames" asp-action="Index">Minigames</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="rounded-pill text-light bg-dark footer text-muted">
        <div class="container">
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> -
            <a href="https://github.com/Motionlessness">Github</a> -
            <a href="https://www.linkedin.com/in/wil-c/">LinkedIn</a> - 
            <b>&copy; W.C.  @DateTime.Now.Year.ToString()</b>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
